<center>
<h1><%= Date.current %> 今天谁做卫生~~？</h1>



<div id="scratch">
  <% if @revealer %>
    <div id="card" class="cleaner">
  <% else %>
    <div class="cleaner">
  <% end %>
      <%= @cleaner_info %>
    </div>
</div>
<script>
LuckyCard.case({
    ratio: .7
}, function() {
    // alert('至于你信不信，我反正不信！');
    // this.clearCover();
});
// LuckyCard.case({
//     ratio: .6
// }, function() {
//     alert('至于你信不信，我反正不信！');
//     // this.clearCover();
// });
</script>
<p>


=====持票统计=====<p>
<table>
<tr>
  <th></th>
  <th></th>
</tr>

<% User.inlab.order(:ticket).each do |u| %>
<tr>
  <td><%= u.name %></td>
  <td><%= u.ticket %></td>
</tr>
<% end %>

</table>
</csnter>
