<center>
<h1><%= Date.current %> 今天谁做卫生~~？</h1>

<h2> <%= @cleaner_info %></h2>
<p>


=====持票统计=====<p>
<table>
<tr>
  <th></th>
  <th></th>
</tr>

<% User.inlab.order(:ticket).each do |u| %>
<tr>
  <td><%= u.name %></td>
  <td><%= u.ticket %></td>
</tr>
<% end %>

</table>
</csnter>
