// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cleaner {
    height: 100%;
    font-weight: bold;
    font-size: 40px;
    line-height: 70px;
    text-align: center;
    background: #FAFAFA;
}

#scratch {
    width: 200px;
    height: 70px;
    margin: 20px auto 0;
}

@mixin scratch-transform($time, $type) {
  -webkit-transition: opacity $time $type;
  -moz-transition:    opacity $time $type;
  -o-transition:      opacity $time $type;
  transition:         opacity $time $type;
}

#reveal-scratch{
  position: absolute;
  left: 0;
  opacity: 1;
  &:hover{
    opacity: 0.1;
    @include scratch-transform(1s, cubic-bezier(0.72, 0.08, 1, -0.02));
  }
}

#main-info{
  margin-bottom: 36px;
}

tr{
  line-height: 22px;
}

td{
  font-size: 16px;
}

.emoji{
  font-size: 22px;
}
