// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  margin: 0;
}
.cleaner {
    height: 100%;
    font-weight: bold;
    font-size: 40px;
    line-height: 70px;
    text-align: center;
    background: #FAFAFA;
}

#scratch {
    width: 200px;
    height: 70px;
    margin: 20px auto 0;
}

@mixin scratch-transform($time, $type) {
  -webkit-transition: opacity $time $type;
  -moz-transition:    opacity $time $type;
  -o-transition:      opacity $time $type;
  transition:         opacity $time $type;
}

#reveal-scratch{
  position: absolute;
  left: 0;
  opacity: 1;
  &:hover{
    opacity: 0.1;
    @include scratch-transform(1s, cubic-bezier(0.72, 0.08, 1, -0.02));
  }
}

#main-info{
  margin-bottom: 36px;
}

tr{
  line-height: 22px;
}

td{
  font-size: 16px;
  width: 5em;
  text-align: center;
  &.cleaner_name{
    text-align: right;
  }
}

.emoji{
  font-size: 22px;
  float: left;
}


#go-admin{
  margin-top: 20px;
  color: red;
  a{
    &:visited{
      color: red;
    }
  }

}


#submit-lucky{
  visibility: hidden;
}

#nav{
  padding-left: 1em;
  span{
    margin-right: 2em;
  }
  a{
    text-decoration: none;
  }
}


#euro{
  position: absolute;
  padding: 0.1px;
  width: 100%;
  #background img{
    position: absolute;
    width: 100%;
    z-index: -999;
  }
  #container{
    width: 666px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.77);
    margin-top: 66px;
    padding: 32px;
    text-align: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  #title{
    color: gold;
    font-size: 66px;
    font-weight: bold;
  }
  #first{
    font-size: 32px;
  }

  #all-title{
    font-size: 24px;
    font-weight: 600;
  }

  .date{
    color: gray;
  }
}
